#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.window{
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/amtrak_bakcground.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 90%;
  background-color: rgba($color: #2b2b2b, $alpha: .40);
}

.title{
  height: 20%;
  margin: 20% 20% 0 20%;
}

.title >img{
  width: 100%;
  height: 100%;
}

.departure{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

ion-input{
  margin: 5%;
  background-color: rgba($color: #000000, $alpha: .50);
  color: rgba($color: #fa8500, $alpha: 1.0);
  text-align: center;
}

.duration{
  width: 50%;  
}

.button{
  margin-bottom: 10%;
}

h1{
  margin: 10%;
  color: rgba($color: #fa9600, $alpha: .60);
}

.durationdiv{
  margin-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}